name: Publish Release

on:
  release:
    types: [ published ]

jobs:
  validate:
    name: Validate Package
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4

      - name: Build Package
        run: swift build
        working-directory: MESA

      - name: Run Tests
        run: swift test --parallel
        working-directory: MESA
